html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* centro orizzontale */
  align-items: center; /* centro verticale */
  min-height: 100vh; /* altezza minima tutta altezza viewport */
  margin: 0;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.home-button {
  font-size: 2rem;
  padding: 10rem 13rem;
  border-radius: 0.5rem;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  box-shadow: 5 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out;
  text-align: center;
}
